body {
  font-family: 'Cinzel', serif;
}
#jumbotron {
  text-align: center;
  margin: 2em;
  border: solid .25em black;
  padding: 1em;
}
#charSelect {
  border: solid .25em black;
}
.col-3 {
  padding-top: 1em;
  margin: 1em;
}
img {
  height: 20em;
  color: #fff;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  animation: blinkingBackground 2s;
}
	@keyframes blinkingBackground{
		0%		{ background-color: #10c018;}
		25%		{ background-color: #1056c0;}
		50%		{ background-color: #ef0a1a;}
		75%		{ background-color: #254878;}
		100%	        { background-color: #04a1d5;}
}
input[type=radio] {
  margin-right: 1em;
}
#name {
  margin-bottom:2em;
  margin-top: 2em;
  width: 30%;
}
.button {
  margin: .25em;
}
h2 {
  text-decoration: underline;
}
h3 {
  text-decoration: underline;
}
h4 {
  margin-top: 1em;
  margin-left: 1em;
}
h6 {
  margin-left: 1em;
  margin-top: 1em;
}
.radio {
  margin-left: 1em;
}